
.card-body {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .description {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: stretch;

    .left {
      display: flex;
      flex-direction: column;
      flex: 1 1;
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1 1;

      .map {
        flex: 1 1;
        border-radius: 8px;
      }
    }
  }
}
