<h1><%= @user.first_name%> <%= @user.last_name %></h1>

<div id="reservations">
  <% @reservations.flatten.each do |reservation| %>
    <%= button_to "Accept", accept_reservation_path(id: reservation), method: :patch %>
    <%= button_to "Decline", decline_reservation_path(id: reservation), method: :patch %>
  <% end %>
</div>
