<h1><%= @user.first_name%> <%= @user.last_name %></h1>

<h3>Ses Brains</h3>

<ul>
  <% @brains.each do |brain| %>
    <li><%= cl_image_tag brain.photo.key, width: 50, height: 50, gravity: "face", crop: "thumb" %> <%= brain.title %></li>
  <% end %>
</ul>
