<h1><%= @user.first_name%> <%= @user.last_name %></h1>
<h3>Ses réservations</h3>

<ul>
  <% @reservations.each do |reservation| %>
    <li><%= cl_image_tag reservation.brain.photo.key, width: 50, height: 50, gravity: "face", crop: "thumb" %> <%= reservation.brain.title %></li>
  <% end %>
</ul>
