
<%= simple_form_for [@brain, @reservation],  { data: { controller: "calculated-cost", calculated_cost_price_value: @brain.price} } do |f| %>
  <div class="d-flex">
    <%= f.input :start_date, as: :date, html5: true, input_html: { value: @reservation.start_date || Date.today, data: { calculated_cost_target: "start", controller: "flatpickr", action: "change->calculated-cost#calculateCost" } } %>
    <%= f.input :end_date, as: :date, html5: true, input_html: { value: @reservation.end_date || Date.today, data: { controller: "flatpickr", calculated_cost_target: "end", action: "change->calculated-cost#calculateCost" } } %>
  </div>
  <div>
    <p>Total Cost: <span data-calculated-cost-target="cost"></span></p>
  </div>
  <%= f.button :submit, "Reserve", class: "btn-pink" %>
<% end %>
