<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="flat-form">
        <h1>Add a new Reservation for <%= @brain.title %></h1>
        <div class="mt-3">
            <p class='fw-bold fs-3'><%= @brain.price %> €<small class='fw-light'> day</small></p>
            <%= render "form", reservation: @reservation %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
