.brain-card {
  border-radius: 7px;
  box-shadow: 0px 2px 6px -424px rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #D9D9D9;
  max-width: 300px; /* Adjust the width as necessary */
  margin: auto;
  overflow: hidden;

  .photo {
    display: flex;
    height: 346px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%; /* This makes the photo container responsive */
    height: auto; /* Height can be auto if the image aspect ratio should be maintained */


    img {
      position: relative;
      width:100%;
      height:auto;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      width: 100%;
      height: auto; /* Adjust height to a fixed value if you need to crop the image */
      object-fit: cover; /* This will cover the area of the container without stretching */


    }
  }

  .content {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: var(--Gradient-pink, radial-gradient(1413.54% 103.95% at -3.95% 100%, #D33753 0%, #D13660 52.83%, #C72D65 100%));

    h2{
      text-align: left;
      color: #FFF;
      font-family: Inter;
      font-size: 23.369px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0px;
    }

    h3 {
      text-align: left;
      color: #FFF;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin: 0px;

      strong {
        color: #FFF;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}
